.navbar-nav .nav-item:hover {
    background-color: rgba(180, 190, 203, 0.4);
}
.navbar-toggler-icon{
    font-size: 15px;
}
@media (max-width:991px) {
    .logout-btn{
        width: 100%;
    }
    .logout{
        display: flex;
        float: right;
    }
}